<div>
  <h2>{{header}} resource</h2>
  <table class="table">
    <tr>
      <td ng-repeat="field in fields">
        <input type="text" ng-model="adding[field]"/>
      </td>
      <td>
        <button ng-click="saveResource()">Add</button>
      </td>
    </tr>
    <tr ng-repeat="resource in resources" ng-init="row = $index">
      <td ng-repeat="field in getFields">
        <input ng-readonly="!inEditMode(row)" ng-model="resource[field]"/>
      </td>
      <td>
        <button ng-hide="inEditMode(row)" ng-click="turnOnEditMode(row)">Edit</button>
        <button ng-show="inEditMode(row)" ng-click="updateResource(row)">Update</button>
        <button ng-show="inEditMode(row)" ng-click="turnOffEditMode(row)">Cancel</button>
        <button ng-hide="inEditMode(row)" ng-click="deleteResource(row)">Delete</button>
      </td>
    </tr>
  </table>
</div>